
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+SA+Beginner:wght@500&family=Ubuntu:wght@500&display=swap');
h1{
   font-family: monospace;
   font-weight: bold;
    font-size: 3.7rem;
}
#main-heading span{
    font-size: 5rem;
    color:rgb(194, 204, 7);
}

#home{
    height: 90vh;
}
#home span{
    font-size: 3rem;
    font-weight: bold;
    background-color: rgb(210, 223, 123);
    padding:10px;
    color:rgb(24, 24, 91);
    border-radius: 15px;
}
.createform{
    box-shadow: 0px 0px 5px rgb(123, 177, 199);
}
.showform{
    box-shadow: 0px 0px 5px rgb(123, 177, 199);

}
.bi-file-text{
    font-size: 240px;
    color:rgb(59, 73, 83);
}
.bi-plus-circle-dotted{
    font-size: 240px;
    color:rgb(59, 73, 83);
}
.bi-plus-circle-dotted:hover{
    color:rgb(170, 148, 18);
}
.bi-file-text:hover{
    color:rgb(170, 148, 18);

}
.main-heading{
}
.createform:hover{
}